.container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #cbe6ff;
    z-index: 10;
}
.photo {
    position: absolute;
    height: 100vh;
}
.title {
    margin-top: 27vh;
    font-weight: bold;
    font-size: 275%;
    color: #292b2d;
}
.content {
    margin-left: 43vw;
    text-align: center;
    font-size: 122%;
    color: #292b2d;
}