.background {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #cbe6ff;
    z-index: 10;
    display: flex;
    flex-direction: row;
}


.photo-container {
    display: flex;
    width: 50%;
    max-width: 50%;
    max-height: 100vh;
    z-index: 9;
}
.photo-container > div > img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}


.content-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    height: 80vh;
    z-index: 10;
    
}
.content-container > div > h3 {
    font-weight: bold;
    font-size: 275%;
    
    color: #292b2d;
}
.content-container > div > p {
    font-size: 122%;
    color: #292b2d;
}
.content-container > div > a {
    width: 125px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.intro h3 {
    margin-top: 300px;
}

.button {
    position: relative;
}